.vscode
__pycache__/
data/
data/*
output/
outputs/
outputs/*
logs/
base_weights/

# gitignore for uv (melih)
.venv
pyproject.toml
.python-version
uv.lock
.env
wandb/*
wandb

# gitignore for slurm and claude notes
*.slurm
CLAUDE.md
docs/
*.ipynb

# add code for running the original code
ConceptBottleneck/