.vscode
__pycache__/
data/
data/*
output/
outputs/
outputs/*
logs/
base_weights/
weights/
weights/*

# gitignore for uv (melih)
.venv
pyproject.toml
.python-version
uv.lock
.env
wandb/*
wandb

# sorry für die unnötigen gitignores
configs/protocbm/hyperparameter-search/independent-grid/*
tests/keypoint_flip_vis/*

# gitignore for slurm and claude notes
*.slurm
CLAUDE.md
docs/
*.ipynb

# add code for running the original code
ConceptBottleneck/
